body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-size: 100%;
  background-color: #B9DFEF;
  margin: 0;
}

.navbar{
  height: 48px;
  background-color: white;
  text-align: center;
  opacity: 0.95;
}

#logo{
  font-size: 37px;
  font-weight: bold;
  color: #0084B4;
  cursor: pointer;
}

.container{
  width: 910px;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
  opacity: 0.95;
}

/*
.container{
  padding-top: 15px;
  background: url("http://pixabay.com/static/uploads/photo/2013/07/13/10/07/rubber-156597_640.png") bottom left no-repeat;
  background-attachment: fixed;
  background-position: left 15px bottom 30px;
  min-height: 1100px;
}
*/

.header{
  text-align: center;
  font-weight: bold;   
  height: 20px; 
  background-color: #F5F8FA;
  color: #0084B4;
  padding: 10px;
  border-bottom: 2px solid #B9DFEF;
}

input{
  width: 266px;
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 16px;
  border: 1px solid #BFC1C2;
}

textarea{
  height: 50px;
  width: 266px;
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 16px;
  resize: none;
  border-color: #BFC1C2;
}

.main{
  width: 600px;
  float: left;
  display: block;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
}

.sidebar{
  width: 290px;
  float: right;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.newTweets{
  cursor: pointer;
  display: none;
}

.tweetContainer{
  height: 52px;
  border-bottom: 3px solid #B9DFEF;
  padding: 6px;
  line-height: 25px;
}

.tweetContainer:last-child{
  border-bottom: 0;
}

.tweetUser{
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
} 

.tweetUser:hover{
  color: #0084B4;
}

.tweetTimestamp{
  display: inline-block;
  margin-left: 5px;
  color: #8899a6;
  font-size: 13px;
}

.writeTweet{
  padding: 10px;
  height: 360
}

.writeTweet p{
  padding: 0;
  margin: 0;
}